.menuItem {
    border-radius: 4px;
    margin: 0 4px;
    transition: all 0.2s ease;
    color: #2b2a27;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }
  
  .menuItem:hover {
    background-color: #f1f1f1;
    color: #b49611;
  }
  
  /* Corrige fundo azul, texto branco e ícone também */
  .menuItemActive {
    background-color: #000000;
    color: white !important;
  }

  .menuItemActive:hover {
    background-color: #000000;
    color: rgb(255, 255, 255) !important;
  }
  
  .menuItemActive span {
    color: rgb(255, 255, 255) !important;
  }

  .submenuContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px; /* Indenta visualmente sem empurrar layout */
  margin-top: 4px;
}

.submenuItem {
  padding: 6px 10px;
  font-size: 0.95rem;
  color: #555;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.submenuItem:hover {
  background-color: #f0f0f0;
  color: #ffffff;
}


.arrowIcon {
  transition: transform 0.2s ease;
  margin-right: 8px;
  transform: rotate(0deg); /* seta para a direita quando fechado */
}

.arrowOpen {
  transform: rotate(180deg); /* seta para baixo quando aberto */
}

  